*{
    overflow: hidden;
    background-color: black;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    
    background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


    background-color: white;
    padding: 10px;
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
    height: 100vh;
    width: 25em;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    font-size: large;
    display: grid;
}

.headerTitle{
    font-size: 70px;
    background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
}

.headerText{
    font-size: 30px;
    background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
}