*{
    background-color: black;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h1{
    display: grid;
    background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);

    color: linear-gradient(to right, white 0%,white 50%, black 50%, black 100%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: white;
    border: solid black medium;
    padding: 10px;
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
    height: 100vh;
    width: 6em;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    font-size: large;
    display: grid;
}